<div class="row">
	<div class="col-md-12 col-md-offset-1">
	<%= form_for @user, {url:"/authentications", method:"post"} do |user| %>

	<p>
		<%= user.label :email, "Email"%>
		<%= user.text_field :email, class:"inputReset"%>
	</p>
	<p>
		<%= user.label :password, "Password"%>
		<%= user.text_field :password, class:"inputReset"%>
	</p>
	<p>
		<%= user.submit "Login", class:"btnmain" %>
	</p>
	<button class="btnmain"><a class="btnlink" id="signUp" href='/users/new'>Sign Up</a></button>

		

	<% end %>
	<div>
</div>