
<%= form_for @user, {url:"/authentications", method:"post"} do |user| %>

<p>
	<%= user.label :email, "Email"%>
	<%= user.text_field :email%>
</p>
<p>
	<%= user.label :password, "Password"%>
	<%= user.text_field :password%>
</p>
<p>
	<%= user.submit "Login" %>
</p>
	<button ><a href='/users/new'>Sign Up</a></button>

	<%= link_to_if(@current_user.nil?, "Login", { controller: "sessions", action: "new" }) %>
# If the user isn't logged in...
# => <a href="/sessions/new/">Login</a>

<% end %>

