<!-- I still dont totally get this	 -->
<div class="row"> 
	<div class="col-md-12 col-md-offset-1">		
		<h4>PLEASE SIGN UP</h4>
			<%= form_for @user do |user| %>
		<p>
			<%= user.label :name, "Name"%>
			<%= user.text_field :name, class:'inputReset'%>
		</p>
		<p>
			<%= user.label :height, "Height"%>
			<%= user.text_field :height, class:'inputReset'%>
		</p>
		<p>
			<%= user.label :weight, "Weight"%>
			<%= user.text_field :weight, class:'inputReset'%>
		</p>
		<p>
			<%= user.label :skillLevel, "Skill Level"%>
			<%= user.text_field :skillLevel, class:'inputReset'%>
		</p>
		<p>
			<%= user.label :email, "Email"%>
			<%= user.text_field :email, class:'inputReset'%>
		</p>

		<p>
			<%= user.label :password, "Password"%>
			<%= user.text_field :password, class:'inputReset'%>
		</p>

		<p>
			<%= user.label :password_confirmation, "Confirm Password"%>
			<%= user.text_field :password_confirmation, class:'inputReset'%>
		</p>
		<p>
			<%= user.label :shaper, "Shaper?"%>
			<%= user.check_box :shaper, {}, "true", "false" %>
		</p>

		<p>
			<%= user.submit "Sign Up", class:"btnmain" %>
		</p>
		<button class="btnmain"><a class="btnkLink" id="signUp"href='/authentications/new'>Back to Sign In</a></button>


		<%end%>
	</div>	
<div class="row">