<!-- I still dont totally get this	 -->
<p>SIGN UP YO!</p>
	<%= form_for @user do |user| %>
<p>
	<%= user.label :name, "Name"%>
	<%= user.text_field :name%>
</p>
<p>
	<%= user.label :height, "Height"%>
	<%= user.text_field :height%>
</p>
<p>
	<%= user.label :skillLevel, "Skill Level"%>
	<%= user.text_field :skillLevel%>
</p>
<p>
	<%= user.label :email, "Email"%>
	<%= user.text_field :email%>
</p>

<p>
	<%= user.label :password, "Password"%>
	<%= user.text_field :password%>
</p>

<p>
	<%= user.label :password_confirmation, "Confirm Password"%>
	<%= user.text_field :password_confirmation%>
</p>
<p>
	<%= user.label :shaper, "Shaper?"%>
	<%= user.check_box :shaper, {}, "true", "false" %>
</p>

<p>
	<%= user.submit %>
</p>
<button ><a href='/authentications/new'>Sign In</a></button>


<%end%>
