<div class="row">
	<div class="pageHeader col-md-offset-1">
		Outbound orders
	</div>
</div>
<div class="tableText col-md-offset-1">
	<table>
		<tr>
			<th>Type</th>
			<th>Length</th>
			<th>Width</th>
			<th>Thickness</th>
			<th>Volume</th>
			<th>Fins</th>
			<th>Tail Type</th>
			<th>Glass Top</th>
			<th>Glass Bottom</th>
			<th>Special Comments</th>
			<th>Delete???</th>
			<th>Order</th>
			<th>Edit</th>
		</tr>
		<% @current_user.bought_boards.each do |boarddata|%>	
		<tr>
			<td><%= boarddata.style %></td>
			<td><%= boarddata.length %></td>
			<td><%= boarddata.width %>"</td>
			<td><%= boarddata.thicknessMid %>"</td>
			<td><%= boarddata.volume %></td>
			<td><%= boarddata.fins %></td>
			<td><%= boarddata.tailType %></td>
			<td><%= boarddata.glassTop %></td>
			<td><%= boarddata.glassBottom %></td>
			<td><%= boarddata.specialComments %></td>
			 <td><%= button_to "X", {action:"destroy", id:boarddata.id},
	       {method: :delete, data:{confirm:"ARE YOU SURE YOU WANT TO DELETE THIS BOARD?"}, :class => "mybutton", class:"btnmain"}
	        %></td>
	         <td><%= button_to "ORDER", {action:"order", id:boarddata.id},
	       {method: :post, :class => "mybutton", class:"btnmain"}
	        %></td>
	         <td><button class="btnmain"><%= link_to "Edit Board", edit_board_path(id:boarddata.id)%></button></td>
		</tr>
		<% end %>
		</table>
</div>