

<table>
	<tr>
		<th>Type</th>
		<th>Length</th>
		<th>Width</th>
		<th>Thickness</th>
		<th>Fins</th>
	</tr>
	<% @boards.each do |boarddata|%>	
	<tr>
		<td><%= boarddata.style %></td>
		<td><%= boarddata.length %></td>
		<td><%= boarddata.width %>"</td>
		<td><%= boarddata.thicknessMid %>"</td>
		<td><%= boarddata.fins %></td>
		 <td><%= button_to "X", {action:"destroy", id:boarddata.id},
       {method: :delete, data:{confirm:"ARE YOU SURE YOU WANT TO DELETE THIS BOARD?"}, :class => "mybutton"}
        %></td>
	</tr>
	<% end %>	

</table>

