<div class="row orderReview">
	<br>
	<ul class="listFix col-md-3 col-md-offset-1">
		<%= form_for @board do |boarddata| %>
		<li class="inputTextAlt">
		<%= boarddata.label :style ,"TYPE OF BOARD:"%>
		<%= @board.style %>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :length ,"LENGTH:"%>
		<%= @board.length  %>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :volume ,"VOLUME:"%>
		<%= @board.volume  %>
		</li>
	</ul>
	<ul class="listFix col-md-3">
		<li class="inputTextAlt">
		<%= boarddata.label :noseWidth12 ,"NOSE 12\" WIDTH:"%>
		<%= @board.noseWidth12  %>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :width ,"WIDTH:"%>
		<%= @board.width  %>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :widePoint ,"WIDE POINT:"%>
		<%= @board.widePoint  %>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :Tailwidth12 ,"TAIL 12\"WIDTH:"%>
		<%= @board.tailWidth12  %>
		</li>
	</ul>
	<ul class="listFix col-md-4">
		<li class="inputTextAlt">
		<%= boarddata.label :thicknessNose12 ,"NOSE 12\" THICKNESS:"%>
		<%= @board.thicknessNose12  %>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :thicknessMid ,"THICKNESS:"%>
		<%= @board.thicknessMid  %>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :thicknessTail12 ,"TAIL 12\" THICKNESS:"%>
		<%= @board.thicknessTail12  %>
		</li>
	</ul>
</div>
<div class="row">
	<br>
	<br>
	<ul class="listFix col-md-3 col-md-offset-1">
		<li class="inputTextAlt">
		<%= boarddata.label :rockerNose ,"NOSE ROCKER:"%>
		<%= @board.rockerNose%>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :rockerNose12 ,"NOSE ROCKER 12\":"%>
		<%= @board.rockerNose12%>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :rockerTail12 ,"TAIL ROCKER 12\":"%>
		<%= @board.rockerTail12  %>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :rockerTail ,"TAIL ROCKER:"%>
		<%= @board.rockerTail  %>
		</li>
	</ul>
	<ul class="listFix col-md-4">
		<li class="inputTextAlt">
		<%= boarddata.label :concaveNoseEntry ,"NOSE ENTRY CONCAVE:"%>
		<%= @board.concaveNoseEntry  %>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :concaveNose ,"NOSE CONCAVE:"%>
		<%= @board.concaveNose  %>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :concaveMid ,"WIDE POINT CONCAVE:"%>
		<%= @board.concaveMid  %>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :concaveTail ,"TAIL CONCAVE:"  %>
		<%= @board.concaveTail  %>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :concaveExit ,"EXIT CONCAVE:"  %>
		<%= @board.concaveExit  %>
		</li>
	</ul>
	<ul class="listFix col-md-3">
		<li class="inputTextAlt">
		<%= boarddata.label :railType ,"RAIL TYPE:" %>
		<%= @board.railType  %>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :TailType ,"TAIL TYPE:" %>
		<%= @board.tailType  %>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :fins ,"FINS:" %>
		<%= @board.fins  %>
		</li>
	</ul>
</div>
<div class="row">
	<br>
	<br>
	<ul class="listFix col-md-3 col-md-offset-1 ">
		<li class="inputTextAlt">
		<%= boarddata.label :glassTop ,"GLASS TOP:"  %>
		<%= @board.glassTop  %>
		</li>
		<br>
		<li class="inputTextAlt">
		<%= boarddata.label :glassBottom ,"GLASS BOTTOM:"%>
		<%= @board.glassBottom  %>
		</li>
		<br>
		<button class="btnmain"><%= link_to "Edit Board", edit_board_path%></button>
	</ul>
	<ul class="listFix col-md-7" >
		<li class="inputTextAlt">
		<%= boarddata.label :specialComments ,"COMMENTS:"%>
		<%= @board.specialComments%>
		</li>
	</ul>
</div>
	
	<% end %>