<!DOCTYPE html> <html>
<head>
  <title>Surf</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="col-md-12">
    <ul class="nav nav-pills" id="header">
      <li><a class="headerLink"href='/boards/'>Boards</a></li>
      <li ><%= link_to "Edit Profile", edit_user_path(session[:user_id]), class:"headerLink"%></li>
      <li ><%= link_to_if( current_user.nil?, "Sign In", "/authentications/new", class:"headerLink") do
         link_to( "Sign Out", "/authentications/",{method: :delete})
       end
    %></li>
      <li><a class="headerLink" href='/boards/new'>New Board</a></li>
      <li><a class="headerLink" href='/users/homepage'>Home</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-1">  
      <%= session[:user_id] %><br>
      <% if flash[:notice].present? %>
      <%= flash[:notice] %>
      <% end %>
    </div>
  </div>
    <%= yield %>
</body>
</html>
