<!DOCTYPE html>
<html>
<head>
  <title>Surf</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>

	<button ><a href='/boards/'>Boards</a></button>
	<button ><a href='/boards/new'>New Board</a></button>
  <button ><a href='/users/edit'>Edit</a></button>
	<button ><a href='/users/homepage'>Home</a></button>
	<button><%= link_to_if( current_user.nil?, "Sign In", "/authentications/new") do
     link_to( "Sign Out", "/authentications/",{method: :delete})
   end
%></button>
</div>
<%= session[:user_id] %><br>
<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %>
<%= yield %>

</body>
</html>
